.no-border-top {
  border-top: none !important;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.govuk-service-navigation__service-name {
    padding: 15px 0px 15px 0px;
    line-height: 1.5;
}

.govuk-service-navigation {
    background-color: #f4f8fb;
    border-bottom-color: #8eb8dc;
}